<div class="tooltipa">
    <img src="../../../assets/images/AboutIcon.svg" class="help-image"/>
    <div class="tooltipborder">
        <div class="tooltiptext" dir="ltr">
            <div class="titletip"><h2>
                Hey There!
            </h2></div>
            <div class="texttip"> <p>
                This search query is based on the Israeli consumer medicine information (CMI) leaflet, also known as package ‎leaflet.‎ This non-profit website allows a free quick search and download of leaflets by entering English or ‎Hebrew drug name.
            </p></div>
            <div class="titletip"><h2>
                How it works?
            </h2></div>
            <div class="texttip"><p>
                The site works using the best effort method: First it will look for a consumer ‎leaflet in English, then in Hebrew and if it still does not find any, it will look for a physician leaflet. The ‎leaflets are downloaded from an <a href="https://israeldrugs.health.gov.il/#!/byDrug">online drug database</a> of Israel Ministry of Health.
            </p></div>
            <div class="row">
                <div class="titletip"><h2>
                    Who are we?
                </h2></div>
                <div class="col">
                    <div class="titletip"><h4>
                        Sponsor
                    </h4></div>
                    <div class="texttip"><p>
                        Nir Tsabar, MD/DSc. Geriatrician Tsabar.nir@gmail.com
                    </p></div>
                    
                </div>
                <div class="col">
                    <div class="titletip"><h4>
                        Developer
                    </h4></div>
                    <div class="texttip"><p>
                        Tom Tsabar, M.Sc. Developer Tomtsabar9@gmail.com
                    </p></div>
                </div>
                <div class="col">
                    <div class="titletip"><h4>
                        Designer
                    </h4></div>
                    <div class="texttip"><p>
                        Tomer Romano UX Generalist GraphicDesignTR@gmail.com
                    </p></div>
                </div>
            </div>
            <div class="bottomtip"><h2>
                Any use of this website is made under the user’s own responsibility
            </h2></div>
        </div>
    </div>
</div>
